body {
  background-color: #21D6FF;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: indigo;
  text-align: center;
}
h1:hover {
  color: #3935A1;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
.assign {
  background-color: #2E3CFF;
  margin: 10px;
  padding: 10px;
  display: flex;
  border-radius: 20px;
}
.assign img {
  width: 200px;
  margin: 10px;
  border: 2px solid indigo;
}
.assign img:hover {
  width: 200px;
  margin: 10px;
  border: 3px dotted #3935A1;
}
